.mainResult {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 80px;
}
.negativ {
  background-color: red;
  color: white;
}
.positive {
  background-color: green;
  color: white;
}
